<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  {{>head}}
</head>
<body>
  <div class="container">
  {{>header}}
  
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{title}}</h1>
      <p class="lead">{{desc}}</p>
    </div>
  </div>
  
  {{>footer}}
  </div>
</body>
</html>